<footer>

<div class="f-info">

    <div class="f-info-social">
         <a href="mailto:your@email.com" class="text-dark">
      <i class="fa-brands fa-square-facebook"></i>
    </a>
     <a href="mailto:your@email.com" class="text-dark">
      <i class="fa-brands fa-square-instagram"></i>
    </a>
      <a href="https://www.linkedin.com/in/mohd-adil-2005c " class="text-dark">

    <i class="fa-brands fa-linkedin"></i>
    </a>
        
        



    </div>
    <div class="f-info-brand"> &copy;WanderLust private limited</div>
    <div class="f-info-links">
        <a href="privacy">privacy</a>
        <a href="/terms">terms</a>       



    </div>




</div>





</footer>